---
BasedOnStyle: LLVM
IndentWidth: 8
---
Language: C
ColumnLimit: 100
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments:  true
AlignConsecutiveMacros:       true
AlignEscapedNewlines:         true
AlignTrailingComments:        true
AlignArrayOfStructures:       Left
PointerAlignment: Left
---
